name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - run: pip install -r requirements.txt

      - run: pytest

      - uses: ankane/setup-postgres@v1
        with:
          database: hightop_python_test
      - run: ADAPTER=postgresql pytest

      - uses: ankane/setup-mysql@v1
        with:
          database: hightop_python_test
      - run: ADAPTER=mysql pytest
